#loading {
    background: url('/src/img/loding/spinner.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

#loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #ffffffcf;
}
#loader img{
    position: relative;
    left: 40%;
    top: 40%;
}

/**  AUTO COMPLETE     ***/
.autocomplete {
    position: relative;
    display: inline-block;
  }

input {
    border: 1px solid transparent;
   /* background-color: #f1f1f1;*/
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    /* background-color: #f1f1f1; */
    width: 100%;
  }
  
  /* input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  } */
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    background: white;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /* top: 100%;
    left: 0;
    right: 0; */
  }
  
  .autocomplete-items input {
    padding: 10px;
    cursor: pointer;
    background-color:aquamarine;

    border-bottom: 1px solid #d4d4d4; 
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }
/**  AUTO COMPLETE     ***/